.wrap {
    position: relative;
    height: 25vh;
    background-color: var(--lightPurple);
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 0 100%, 100% 80%, 100% 0);
}

h1 {
    overflow: hidden;
    white-space: nowrap;
    width: 330px;
    text-align: center;
    text-transform: uppercase;
    -webkit-animation: text 1.5s steps(16);
    animation: text 1.5s steps(16);
}

@keyframes text {
    0% {
        width: 0;
    }

    100% {
        width: 300px;
    }
}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 768px) {
   
    h1 {
        font-size: 22px;
    }
}

@media screen and (max-width: 360px) {
   
    h1 {
        font-size: 18px;
    }
}