.container {
    display: grid;
    place-items: center;
    padding-top: 140px;
    background: linear-gradient(45deg, var(--purple), var(--darkPink));
    background-attachment: fixed;
    margin-top: -70px;
    min-height: 80vh;
}

.btn {
    position: relative;
    font-size: 20px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
    margin-top: 50px;
    width: 160px;
    height: 60px;
    background-color: var(--lightPurple);
    border-radius: 50px;
    border: 1px solid var(--lightPurple);
    color: var(--black);
}

.btn::after {
    content: "";
    background-color: var(--purple);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s ease
}

.btn:active::after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

#dogs {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    margin-top: 15px;
}

.zoom-img {
    width: 240px;
    height: 190px;
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: -3px;
    filter: grayscale(100%);
    animation: images 0.5s ease-in;
}

@keyframes images {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.zoom-img:hover {
    transition: all 0.4 ease;
    border: 4px solid var(--lightPurple);
    filter: grayscale(0);
}

#wrapInside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--lightPurple);
}

@media screen and (max-width: 1400px) {
    #dogs {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .zoom-img {
        width: 200px;
        height: 160px;
    }
}

@media screen and (max-width: 1024px) {
    .zoom-img {
        width: 170px;
        height: 130px;
    }

    .btn {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    #dogs {
        grid-template-columns: repeat(3, 1fr);
    }

    .zoom-img {
        width: 140px;
        height: 90px;
    }

    .btn {
        width: 120px;
        height: 40px;
        font-size: 16px;
    }

    #wrapInside {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    #dogs {
        grid-template-columns: repeat(2, 1fr);
    }

    #wrapInside {
        width: 90%;
    }
}

@media screen and (max-width: 360px) {
    #dogs {
        grid-template-columns: 1fr
    }

    .zoom-img {
        width: 260px;
        height: 230px;
    }

    .btn {
        width: 100px;
        height: 40px;
        font-size: 14px;
    }
}